html {
  font-size: 16px;
}

body {
  font-family: "Times New Roman", Times, sans-serif;
  font-weight: 400;
  display: grid;
  grid-template-areas:
    "header"
    "main"
    "footer";
  grid-template-rows: auto auto auto;
}

h1 {
  font-size: 6rem;
  line-height: 1.4;
  color: #ed225d;
}

h2 {
  font-size: 3rem;
  line-height: 1.4;
}

h3 {
  font-size: 2rem;
}

p {
  font-size: 1.3rem;
  line-height: normal;
}

a {
  text-decoration: none;
  font-size: 1.3em;
  color: #ed225d;
}
/* header */
header {
  grid-area: header;
  display: grid;
  grid-template-areas:
    "nav"
    "titulo"
    "coment";
}

header nav {
  grid-area: nav;
  justify-self: right;
  margin: 20px;
}

header h1 {
  grid-area: titulo;
  margin: 10vh 5vw;
}

header p {
  grid-area: coment;
  margin: 0 5vw 5vh 5vw;
}

main {
  grid-area: main;
  display: grid;
}
/* Padrão do painel de projeto */
.painel {
  align-self: center;
  justify-self: center;
  margin: 2vw;
  padding: 2vw;
  border: solid 2px #ed225d;
  display: grid;
  grid-template-areas:   
    "titulo canvas"
    "coments canvas"
    "autor canvas";
  border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
}

.painel h2 {
  grid-area: titulo;
  justify-self: left;
}

.painel h3 {
  grid-area: autor;
  justify-self: left;
}

.painel p {
  grid-area: coments;
  justify-self: left;
  align-self: center;
}

.painel iframe {
  min-width: 400px;
  min-height: 400px;
  grid-area: canvas;
  justify-self: left;
  align-self: center;
  justify-self: center;
}

#ctrlPg {
  padding: 20px 0;
  align-self: center;
  justify-self: center;
  display: grid;
  grid-gap: 10px;
  grid-template-columns: auto auto auto;
}

#ctrlPg button {
  justify-self: right;
  align-self: center;

  text-decoration: none;
  color: white;
  font-size: 1.2em;
  background: #ed225d;
  padding: 0.3em;
  border: none;
}

a {
  text-decoration: none;
  font-size: 1.3em;
  color: #ed225d;
}

#pagina .painel:nth-of-type(odd) {
  /* https://developer.mozilla.org/en-US/docs/Web/CSS/:nth-of-type */
  background-color: rgb(238, 233, 233);
}
