html {
  font-size: 16px;
}

body {
  font-family: "Times New Roman", Times, sans-serif;
  font-weight: 400;
  display: grid;
  grid-template-areas:
    "header"
    "main"
    "footer";
  grid-template-rows: 100vh auto auto;
}

h1 {
  font-size: 10rem;
  line-height: 1.4;
  color: #ed225d;
}

h2 {
  font-size: 4rem;
  line-height: 1.4;
}

p {
  font-size: 1.3rem;
  line-height: normal;
}

header {
  grid-area: header;
  padding: 15vh;
}

main {
  grid-area: main;
  display: grid;
  grid-template-rows: 80vh 80vh 80vh;
}

.painel {
  padding: 5vw;
  display: grid;
  grid-template-areas:
    "titulo"
    "texto";
}

main :nth-of-type(2) {
  /* https://developer.mozilla.org/en-US/docs/Web/CSS/:nth-of-type */
  background-color: WhiteSmoke;
}
